.container {
  margin-top: 8rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.flexLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  box-sizing: border-box;
}