.card {
  background-color: var(--primary-background);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  padding: 0.5rem;
  width: 100%;
  max-width: 32rem;
  flex: 1 1 25rem;
  display: flex;
  flex-direction: row;
  min-height: 5rem;
}

.card:hover {
  transform: scale(1.05);
}

.content {
  padding: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--primary);
  margin-bottom: 0.5rem;
  margin-right: 2rem;
}

.date {
  color: var(--secondary);
  font-size: 0.875rem;
}

.subtitle {
  font-size: 1.125rem;
  color: var(--primary);
  font-weight: 500;
  margin-bottom: 1rem;
}

.description {
  color: var(--secondary);
  margin-bottom: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start;
  flex: 1;
}

.tag {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 0.8rem;
  border: 1px solid var(--border);
  background-color: var(--input);
  border-radius: 9999px;
  font-size: 0.8rem;
  color: var(--highlight);
  font-weight: 650;
}
