.tag {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 0.8rem;
  border: 1px solid var(--border);
  background-color: var(--input);
  border-radius: 9999px;
  font-size: 0.8rem;
  color: var(--highlight);
  font-weight: 650;
}
