.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 12rem;
  text-align: center;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  margin-left: 3rem;
}

.divider {
  height: 0.2rem;
  background-color: #ccc;
  width: 95%;
  margin: 0.3rem auto;
  border-radius: 9999px;
}

.cardsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  box-sizing: border-box;
}
